@font-face {
  font-family: 'Alba Super';
  src: url('./fonts/AlbaSuper.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: #494949;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen', "Alba Super",
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
